<title>Azteka Tattoo | About</title>
{% extends "modelo.html" %}

{% load static %}

{% block contenido %}
<section class = "about" id = "about">
    <div class = "container">
        <div class = "about-text">
          <div class = "title">
            <h2>Este sitio fue creado por:</h2>
            <p>Francisco Vega</p>
          </div>
          <p>Soy un estudiante de 17 años, actualmente estoy terminando el colegio y voy a estudiar ingenieria informatica a partir del proximo año.</p>
          <p>Me anote al curso de python de Coderhouse para ir aprendiendo acerca del mundo de la programacion para mis inicios de la facultad.</p>
        </div>
      </div>
    </div>
<section class = "about" id = "about">
    <div class = "container">
        <div class = "about-text">
          <div class = "title">
            <p>Federico Gatica</p>
          </div>
          <p>texto</p>
          <p>texto</p>
        </div>
      </div>
    </div>
{% endblock %}