<title>Azteka Tattoo | Blogs</title>
{% extends "modelo.html" %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'css/stylecopy.css'%}">
{% block contenido %}
<div style="position: relative; top: 30px">
    <ul>
        <section class = "blog" id = "blog">
            <div class = "container">
              <div class = "title">
                <h2>Azteka Blog</h2>
                <p>info and more about art & design</p>
              </div>
              <div class = "blog-content">
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/tattoocare.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>14 October, 2021</span>
                    <h2>Cuidados del Tatuaje</h2>
                    <p>Como cuidar tu tatuaje recien hecho, tips y mas.</p>
                    <a href = "#">More Info</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/1_blackwork2.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Blackwork</h2>
                    <p>El estilo blackwork, como su propio nombre indica (trabajo en negro), utiliza únicamente esta tinta para crear líneas, sombras y efectos. La técnica surgió hará unos cinco años, y ha ido evolucionando hasta lograr efectos muy puros y recortados.</p>
                    <a href = "#">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/2_tradi1.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Tradicional (Old School)</h2>
                    <p>Entre los estilos de tatuaje más populares, uno de los que lleva manteniéndose en primera línea durante décadas es el tatuaje tradicional americano. También se conoce como Traditional, Trad y Old School (vieja escuela). Son tatuajes delimitados con líneas negras puras, sólidas y sencillas. Las líneas suelen ser gruesas y casi siempre van coloreados con cuatro o cinco tonos básicos. Los temas son de todos conocidos: pin ups, marineros, flores, animales…</p>
                    <a href = "#">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/3_neotradi.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Neotradicional</h2>
                    <p>Inspirado en el tatuaje tradicional, este estilo va un paso más allá aumentando la complejidad. No hay un tema fijo: ni animales, ni flores, ni retrato… Es muy variado. En cada estilo encuentras mil cosas. El neotradi combina trazos gruesos y finos; los colores siguen siendo básicos, pero se aplican por toda la obra y crean sombras, degradados y texturas.</p>
                    <a href = "#">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/4_dotwork.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Dotwork</h2>
                    <p>Como su propio nombre indica, la técnica dotwork utiliza diminutos puntos para crear las formas. En ocasiones, los puntos se mezclan con líneas para aumentar el interés de la obra. Las sombras y las masas de color se crean mediante una densidad mayor o menor de puntos.</p>
                    <a href = "#">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/5_byg.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Black & Grey</h2>
                    <p>Dentro de los estilos de tatuajes que actualmente se demandan, el black and grey (negro y gris) es una especie de combinación de blackwork y acuarela. El artista trabaja solo con tinta negra, y la diluye con más o menos agua para obtener distintas tonalidades de gris y crear profundidad, sombreados…</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/6_acuarela.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Acuarela</h2>
                    <p>El efecto de estos tatuajes es similar al de las acuarelas sobre papel. Los colores se difuminan para crear luces y sombras, consiguiendo obras muy atractivas. El efecto se consigue superponiendo veladuras de color en distinta concentración (más o menos opacas).</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/7_japones.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Japonés Tradicional y Neo Japonés</h2>
                    <p>La cultura nipona ha influído poderosamente en el mundo del tatuaje, ya desde hace décadas. El estilo Japonés Tradicional (irezumi) refleja imágenes de máscaras, samuráis, geishas, peces rojos, diablos, dragones… Con profusión de colores y mucho realismo. El Neo Japonés es una mezcla de Neo Trad e Irezumi, con diseños  detallados y muy sofisticados. Si te gusta este estilo, no te pierdas esta magnífica guía de la web inkme.es sobre el tatuaje japonés y sus variantes.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/8_realismo1.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Realismo</h2>
                    <p>Estos tatuajes están enfocados a reflejar exactamente una imagen, fotografía, etc. En ellos, la pericia y la habilidad del tatuador cobran especial importancia: por ejemplo, si el tatuaje es un retrato, el parecido es fundamental. Estos tatuajes pueden reproducir imágenes reales, pero también conceptos surrealistas o fantásticos.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/9_ornamental2.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Ornamental</h2>
                    <p>Reproducen diseños decorativos como mandalas, rosas de los vientos, cenefas… El tatuaje ornamental viene a ser una variación/evolución del geométrico. Muchos de ellos, como por ejemplo los Mehndi, se inspiran en los tatuajes de henna tradicionales de culturas como la árabe y la hindú.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/10_tribal1.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Tribal</h2>
                    <p>Este estilo causó verdadero furor en los años 90 y la primera década del 2.000. Los tatuajes tribales se inspiran en los símbolos rituales que se tatúan o pintan los integrantes de algunas etnias. Algunas veces tienen significados, pero en muchos casos son simplemente estéticos.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/11_gothic.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Gotico</h2>
                    <p>Más que un estilo de tatuaje, lo gótico es una tendencia. Abarca prendas de vestir, maquillaje, cine, música… Podríamos decir que se trata de toda una cultura. Los tatuajes góticos reflejan temas inspirados en el cine de terror clásico: calaveras, castillos siniestros, rosas con sangre, etc. Llevan mucha tinta negra, detalles minuciosos y colores potentes, como el rojo.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/12_avantgarde1.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span></span>
                    <h2>Brush o Avantgarde</h2>
                    <p>Es uno de los estilos de tatuaje más interesantes y difíciles de realizar. El nombre brush significa pincel o brocha en inglés, mientras que avant-garde es el término francés para “vanguardia”. Son tatuajes abstractos, creados por el propio artista y que a veces se plasman directamente sobre la piel, sin un diseño previo. Reproducen pinceladas (de ahí su nombre), manchas de color y trazos, creando obras abstractas muy interesantes.</p>
                    <a href = "/">More Images</a>
                  </div>
                </div>
                <!-- end of item -->
              </div>
            </div>
          </section>
    </ul>
</div>    
{% endblock %}