<title>Azteka Tattoo | Blogs</title>
{% extends "modelo.html" %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="stylesheet" href="{%static 'css/stylecopy.css'%}">
{% block contenido %}
<div style="position: relative; top: 30px">
    <ul>
        <section class = "blog" id = "blog">
            <div class = "container">
              <div class = "title">
                <h2>Latest Blog</h2>
                <p>recent blogs about art & design</p>
              </div>
              <div class = "blog-content">
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img src = "{% static "images/asad.jpg" %}" alt = "">
                    <span><i class = "far fa-heart"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "/">Read More</a>
                  </div>
                </div>
                <!-- end of item -->
              </div>
            </div>
          </section>
    </ul>
</div>    
{% endblock %}