<title>Azteka Tattoo | Cuidados</title>
{% extends "modelo.html" %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %} 
<div class = "container">
    <div class = "text">
      <div class = "title">
        <h2>Como cuidar mi tatuaje?</h2>
      </div>
      <p>Los cuidados posteriores de un tatuaje nuevo son fundamentales para que este logre cicatrizar de manera bonita y natural.</p>
      <p>La buena o mala cicatrizacion de tu tatuaje dependera de los cuidados que le des:</p>

      <p>1- Mantener el film durante aproximadamente 2 o 3 horas despues de realizado el tatuaje</p>
    <p>Posiblemente se forme una acumulacion de plasma y tinta bajo el plastico, esto es perfectamente normal.</p>

    <p>2- Una vez sin plastico, lava la zona con agua y jabon liquido neutro.</p>
    <p>Hazlo suavemente con las yemas de los dedos, recuerda enjuagar muy bien y usar  agua templada o fria (no caliente).</p>
    <p>Evita secar la zona con toalla (guarda muchas bacterias), utiliza en su lugar una toalla desechable.</p>
    <p>Lava tu tatuaje dos veces al dia y cuando consideres que la zona este sucia.</p>

    <p>3- Al 2do o 3er dia de recien hecho el tattoo, aplica crema (humectante sin perfumes) suavemente y en una capa MUY DELGADA,</p>
    <p>esto evitara que el tatuaje se reseque y ayudara a que cicatrice adecuadamente.</p>
    <p>La piel pasara por un proceso de regeneracion hasta llegar a un estado optimo.</p>
    <p>Esto tomara algunas semanas, pero la piel lucira  restaurada  alrededor del dia 10.</p>
    <p>Recuerda no rascar tu tatuaje por ningun motivo, es posible que tu tatuaje forme algunas costras delgadas.</p>

    <p>COSAS A EVITAR:</p>

<p>Evita el sol, el mar, las albercas, el vapor o saunas por al menos 21 dias.</p>

<p>2. No rasques ni arranques las costras. </p>

<p>3. Algunos tatuajes requieren que suspendas el ejercicio por unos dias,
esto depende principalmente de la extension y zona de tu tatuaje consulta con tu tatuador.</p>

<p>4. Evita dormir sobre tu tatuaje los primeros 3 dias, para evitar que se adhiera a las sabanas o ropa;
si es el caso, despegalo con agua y cuidado.</p>

<p>5. Evita los baños prolongados y/o con agua muy caliente</p> 
<a class="btn btn-dark" style="text-decoration: none; color: white" href="/blogs/">Volver atras</a>
    </div>
  </div>
</div>

{% endblock %}