<title>Azteka Tattoo | Tradicional Old School</title>
{% extends "modelo.html" %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/stylecopy.css'%}">
{% block contenido %} 
<ul>
    <section class = "blog" id = "blog">
        <div class = "container">
            <div class = "title">
              <h2>Tradicional (Old School)</h2>
            </div>
            <div class = "blog-content">
              <!-- item -->
              <div class = "blog-item">
                <div class = "blog-img">
                  <img src = "{% static "images/2_tradi.jpg" %}" alt = "">
                </div>
              </div>
              <!-- end of item -->
              <!-- item -->
              <div class = "blog-item">
                <div class = "blog-img">
                  <img src = "{% static "images/2_tradi1.jpg" %}" alt = "">
                </div>
                
              </div>
              <div class = "blog-item">
                <div class = "blog-img">
                  <img src = "{% static "images/2_tradi2.jpg" %}" alt = "">
                </div>
                
              </div>
              <a class="btn btn-dark" style="text-decoration: none; color: white" href="/blogs/">Volver atras</a>
</ul>
{% endblock %}